<mat-card>Ingrese los datos del Paciente</mat-card>
<br>
<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #frmPaciente="ngForm">
  <div [hidden]="true">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ID" required formControlName="id">
    </mat-form-field>
  </div>
  
  <mat-form-field class="example-full-width">
    <input matInput placeholder="ingrese el nombrePaciente" required formControlName="nombrePaciente">
  </mat-form-field> 
  
  <mat-form-field class="example-full-width">
    <input matInput placeholder="ingrese el rutPaciente" required formControlName="rutPaciente">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="ingrese el emailPaciente" required formControlName="emailPaciente">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="ingrese la direccionPaciente" required formControlName="direccionPaciente">
  </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="frmPaciente.invalid">
      <mat-icon>done</mat-icon>
      <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" routerLink='/paciente' type="button">
      <mat-icon>close</mat-icon>
      <span>Cancelar</span>
    </button>
</form>