<mat-toolbar>Examen</mat-toolbar>
<div class="example-container mat-elevation-28">
  <router-outlet></router-outlet>
<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ingrese un valor">
  </mat-form-field>
  </div>
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="descripcion">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Descripcion</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.descripcion}}</mat-cell>
    </ng-container>   
    
    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <!--<button mat-button color="primary"(click)="openDialog(row)">Actualizar</button>-->
        <button mat-button color="primary" [routerLink]="['edicion',row.id]">Actualizar</button>
        <button mat-button color="accent" (click)="eliminar(row.id)">Eliminar</button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns:displayedColumns;">      
      </mat-row>    
  </mat-table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5,10,25,50,100]"></mat-paginator>
  </div>
  <br>
  <button mat-fab color="accent" style="float: right" routerLink='/examen/nuevo'>
    <mat-icon>create</mat-icon>  
  </button>